<?xml version="1.0" encoding="utf-8"?>
<manifest package="be.matteotaroli.scored"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.ScoreActivity"/>

        <activity
            android:name=".activities.AboutActivity"
            android:parentActivityName=".activities.SelectionActivity"/>

        <activity
            android:name=".activities.SelectionActivity"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="f4143577c1cf09e10c316c25e670620b2b7b5f2a"
            />
    </application>
</manifest>